@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: rgb(230, 206, 190); /* Fondo claro sugerido */
  font-family: 'Press Start 2P', cursive; /* Fuente sugerida */
}